/* ====================================
// css variables
// ==================================== */
@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// reset rules
// ==================================== */

@font-face {
  font-family: "helvetica-neue";
  src: url(/src/HelveticaNeue-01.woff2) format("woff2");
}

@font-face {
  font-family: "helvetica-neue-light";
  src: url(/src/HelveticaNeue-Light-08.woff2) format("woff2");
}

@font-face {
  font-family: "fa-sharp";
  src: url(/src/fa-sharp-solid-900.woff2) format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  background-color: black;
  border-bottom: solid 1px white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.in-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.out-header {
  padding: 40px 0px;
}

.logo-grand {
  width: 100%;
}

.defiling-text {
  border-top: solid 3px black;
  border-bottom: solid 3px black;
  display: flex;
  overflow: hidden;
  font-family: helvetica-neue;

  .animation {
    animation: slide-right 3s linear infinite;
    white-space: nowrap;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-10%);
  }
}

.bg-img {
  background-image: url(../img/bar-alvin-photo.webp);
  background-color: black;
  width: 100%;
}

.bg-blur {
  backdrop-filter: blur(10px);
  width: 100%;
}

.intro {
  color: white;
  font-size: 16px;
  font-family: helvetica-neue;
}

.intro-title {
  font-size: 10px;
  font-family: helvetica-neue;
  color: white;
  font-weight: 600;
  opacity: 47%;
}

.philosophy-intro {
  padding: 40px 15px;
}

.events {
  background-color: black;
}

.events-article {
  color: white;
  font-family: helvetica-neue;
  padding-bottom: 40px;
}

.event-title {
  color: white;
  font-family: helvetica-neue;
  font-weight: 600;
  font-size: 48px;
  padding: 36px 0px 22px 0px;
}

.cocktail-title {
  font-family: helvetica-neue;
  font-weight: 600;
  font-size: 48px;
  padding: 36px 0px 22px 0px;
}

.cocktail-intro {
  color: black;
  font-size: 22px;
  font-family: helvetica-neue;
  padding-bottom: 37px;
}

.cocktail-title-menu {
  font-family: helvetica-neue;
  font-weight: 600;
  font-size: 43px;
  padding: 15px 0px 6px 0px;
}

.cocktail-description {
  color: black;
  font-size: 22px;
  font-family: helvetica-neue-light;
  padding-bottom: 90px;
}

.cocktails {
  border-top: solid 3px black;
}

.cocktail-price {
  text-align: right;
  color: black;
  font-size: 22px;
  font-family: helvetica-neue-light;
  font-style: italic;
  padding-bottom: 10px;
}

.date-title {
  font-family: helvetica-neue;
  color: white;
  opacity: 30%;
  font-size: 15px;
  font-weight: 400;
  padding-top: 12px;
}

.event-card-title {
  font-family: helvetica-neue;
  color: white;
  font-size: 34px;
  font-weight: 600;
}

.event-card-text {
  font-family: helvetica-neue;
  color: white;
  font-size: 17px;
  font-weight: 400;
  padding-top: 8px;
}

.icons {
  font-family: fa-sharp;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: helvetica-neue;
  color: white;
  font-size: 18px;
  font-weight: 600;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.btn-events-btm {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 60px;

  a {
    border: solid 1px white;
    display: inline-flex;
    color: white;
    font-family: helvetica-neue;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    padding: 6px 16px;
  }

  span {
    padding-left: 12px;
  }
}

.btn-cocktail-btm {
  text-align: center;
  padding-top: 28px;
  padding-bottom: 60px;

  a {
    border: solid 1px black;
    display: inline-flex;
    color: black;
    font-family: helvetica-neue;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    padding: 6px 16px;
  }

  span {
    padding-left: 12px;
  }
}

.btn-events-btm a:hover {
  border-color: red;
  background-color: red;
}

.btn-cocktail-btm a:hover {
  border-color: red;
  background-color: red;
}

footer {
  background-color: black;
}

.contact-title {
  padding: 36px 0px 40px 0px;
}

.footer-links {
  color: white;
  padding-bottom: 40px;

  a {
    font-family: helvetica-neue;
    font-size: 27px;
    font-weight: 400;
    text-decoration: none;
  }

  .icons {
    padding-right: 10px;
  }

  a:hover {
    text-decoration: underline;
  }
}

.footer-copyright {
  color: white;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;

  a {
    font-family: helvetica-neue-light;
    font-size: 12px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* ====================================
// base rules
// ==================================== */

@media screen and (min-width: 769px) {
  .intro {
    font-size: 45px;
  }

  .intro-title {
    font-size: 20px;
  }

  .philosophy-intro {
    padding: 168px 0px;
  }

  .small-header-logo {
    display: none;
  }

  .small-header-burger {
    display: none;
  }

  .in-header {
    display: block;
  }

  .event-title {
    font-size: 93px;
    padding: 68px 0px 68px 0px;
  }

  .cocktail-title {
    font-size: 93px;
    padding: 68px 0px 16px 0px;
  }

  .date-title {
    font-size: 26px;
  }

  .event-card-title {
    font-size: 45px;
  }

  .event-card-text {
    font-size: 28px;
  }

  .btn-events-btm {
    padding-top: 49px;
    padding-bottom: 60px;
  }

  .btn-cocktail-btm a:hover {
    border-color: red;
    background-color: red;
    color: white;
  }

  .btn-cocktail-btm img:hover {
    display: none;
  }

  .btn-events-btm a {
    font-size: 31px;
    border: solid 3px white;
  }

  .btn-events-btm img {
    max-width: 31px;
    margin: 0px 33px 0px 21px;
  }

  .btn-cocktail-btm {
    padding-top: 135px;
    padding-bottom: 60px;
  }

  .btn-cocktail-btm a {
    font-size: 31px;
    border: solid 3px black;
  }

  .btn-cocktail-btm img {
    max-width: 31px;
    margin: 0px 33px 0px 21px;
  }

  .cocktail-bottom-sm {
    border-bottom: solid 3px black;
  }

  .cocktail-bottom-lg {
    border-bottom: solid 3px black;
  }

  .footer-copyright {
    a {
      font-size: 21px;
      padding-top: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .cocktail-bottom-sm {
    border-bottom: solid 3px black;
  }

  .btn-cocktail-btm {
    padding-top: 75px;
    padding-bottom: 60px;
  }

  .footer-copyright {
    padding-bottom: 20px;
  }

  .burger-open {
    background-color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 0%;

    a {
      padding: 20px;
    }
  }
}
