/* ====================================
// css variables
// ==================================== */
@import "bootstrap/scss/bootstrap-grid";

:root {
}

/* ====================================
// reset rules
// ==================================== */

@font-face {
  font-family: 'helvetica-neue';
  src:  url(/src/HelveticaNeue-01.woff2) format('woff2')
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

header {
  background-color: black;
}

.in-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px;
}

.out-header {
  padding: 40px 0px;
}

.logo-grand {
  width: 100%;
}

.bg-img {
  background-image: url(../img/bar-alvin-photo.webp);
  background-color: black;
}

.bg-blur {
  backdrop-filter: blur(10px);
  width: 100%;
}

.intro {
  color: white;
  font-size: 16px;
  font-family: helvetica-neue;
}

.intro-title {
  font-size: 10px;
  font-family: helvetica-neue;
  color: white;
  font-weight: 600;
  opacity: 47%;
}

.philosophy-intro {
  padding: 40px 15px;
}

.events {
  background-color: black;
}

.events-article {
  color: white;
  font-family: helvetica-neue;
  padding-bottom: 40px;
}

.event-title {
  color: white;
  font-family: helvetica-neue;
  font-weight: 600;
  font-size: 48px;
  padding: 36px 0px 22px 0px;
}

.date-title {
  font-family: helvetica-neue;
  color: white;
  opacity: 30%;
  font-size: 15px;
  font-weight: 400;
  padding-top: 12px;
}

.event-card-title {
  font-family: helvetica-neue;
  color: white;
  font-size: 34px;
  font-weight: 600;
}

.event-card-text {
  font-family: helvetica-neue;
  color: white;
  font-size: 17px;
  font-weight: 400;
  padding-top: 8px;
}
/* ====================================
// base rules
// ==================================== */
